
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Error</title>
</head>
<body>
    <b>Hatanın oluştuğu yer: @ViewBag.path</b>
    <b>Hata mesajı: @ViewBag.message</b>
</body>
</html>
